.symbolsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 230px), 1fr));
  grid-gap: 1px;
  flex: 1;
  background-color: #e2e2e4;
  padding: 14px;
  border-radius: 6px;
  overflow: scroll;
}
